<header class="main-menu-container d-flex flex-wrap justify-content-center p-3 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
        <img src="https://lh3.googleusercontent.com/67XjXWEFumwc5hLXCc0I7GAENNv8qmRc61jk47vgb_IItmj9N89V4Bm_VPmG7aBDDHO1kAR5VFoWJ7sEcT_kDG7M6SnhbCk9Y7Rx85ETi9WnNU30en_QdRV2PMsncJsnrU2TSLStFBVL-IC5hQAGkQ"
            height="30px">
        <span class="fs-4 p-2 fw-bold">Umbraco Code Garden 2022</span>
    </a>

    <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active-link" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
    </ul>
</header>