<div class="d-flex flex-column p-5" style="width: 1200px;">
    <table class="table table-striped">
        <thead *ngIf="headers">
            <tr>
                <th scope="col" *ngFor="let header of headers">{{header}}</th>

                <th *ngIf="actions.length > 0">Actions</th>
            </tr>
        </thead>

        <tbody *ngIf="bodyData">
            <ng-container *ngFor="let data of bodyData">
                <tr>
                    <td *ngFor="let key of dataKeys(data)">{{data[key]}}</td>

                    <td *ngIf="actions.length > 0">
                        <button class="btn btn-primary mx-2" *ngFor="let data of actions"
                            (click)="triggerAction(data.action)">{{data.name}}</button>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>